@using EduHome.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<Student>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Students</h4>

                    <div class="table-responsive">

                        <a asp-action="Create" class="btn btn-primary">Create</a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>

                                    <th>Name</th>
                                    <th>Occupation</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var teacher in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/img/teacher/@teacher.Image" />

                                        </td>

                                        <td>@teacher.Name</td>
                                        <td>@teacher.Occupation</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@teacher.Id"> Detail </a>

                                        </td>

                                        <td>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@teacher.Id"> Update </a>
                                        </td>

                                        <td>
                                            <a class="btn btn-danger " asp-action="Delete" asp-route-id="@teacher.Id"> Delete </a>
                                        </td>
                                    </tr>

                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



